---
import "$lib/styles/app.css";
import { Button } from "$lib/components/ui/button";
---

<html lang="en">
    <head>
        <title>Astro</title>
    </head>
    <body>
        <p class="text-red-300">Test</p>
        <Button>Hello World</Button>
    </body>
</html>
